# 4.6 Combining & exporting data

### 1. Import libraries and dataframes

### 2. Check dimensions of the dataframes

### 3. Task 1 Merge the dataframes

### 4. Check if there is a full match

### 5. Task 2 Export merged dataframe as pickle file format

## 1. Import libraries

In [14]:
# Import libraries
import pandas as pd
import numpy as np
import os

#set scripts path in variable 'path'
path = r'/Users/constantinmelachrinos/Documents/careerfoundry data analyst/Course files/Data Analytics Immersion/Achievement 4 - InstaCart - Python/Instacart Basket Analysis'

#import Instacart data_sets
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_cleaned.csv'))
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_cleaned.csv'))
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'))

## 2. Check dimensions of the dataframes

In [15]:
# check if dataframe 'orders_products_prior' loaded correctly
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [16]:
#check if dataframe 'orders' loaded correctly
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order
0,2539329,1,1,2,8,NaN,1
1,2398795,1,2,3,7,15.0,0
2,473747,1,3,3,12,21.0,0
3,2254736,1,4,4,7,29.0,0
4,431534,1,5,4,15,28.0,0

In [17]:
#check on shape of dataframe orders_products_prior
df_ords_prior.shape

(32434489, 4)

In [18]:
#check on shape of dataframe orders
df_ords.shape

(3421083, 7)

## 3. Task 1 
### Merge the dataframes

In [26]:
#Merge the two dataframes with eachother and write it in new dataframe called df_merged_large
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True, how = 'inner')

In [29]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,1,196,1,0,both
1,2539329,1,1,2,8,NaN,1,14084,2,0,both
2,2539329,1,1,2,8,NaN,1,12427,3,0,both
3,2539329,1,1,2,8,NaN,1,26088,4,0,both
4,2539329,1,1,2,8,NaN,1,26405,5,0,both

## 4. Check if there is a full match

In [30]:
#check if full match or not
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

## 5. Task 2
### Export the merged file in pickle format as “orders_products_combined.pkl”

In [31]:
#export dataframe to pickle format
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))